.footer {
  padding: 39px 0;
  background-color: $color-blue-charcoa;

  @include vp-1023 {
    padding-left: 12px;
  }

  @include vp-767 {
    padding: 40px 0;
  }


  &__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include vp-1023 {
      gap: 30px;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      gap: 37px;
    }
  }

  &__col-base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    @include vp-767 {
      gap: 30px;
      align-items: center;
    }
  }

  &__col-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include vp-767 {
      max-width: 335px;
      gap: 40px;
    }
  }

  &__logo-link {
    display: flex;
    color: $color-white;
  }

  &__logo {
    width: 114px;
    height: 26px;

    @include vp-1023 {
      width: 105px;
      height: 24px;
    }

    @include vp-767 {
      width: 88px;
      height: 20px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__contacts-mail {
    font-size: 16px;
    line-height: 24px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__contacts-tel {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.02em;

    @include vp-1023 {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__nav {
    display: flex;
    gap: 120px;
    margin: 0 0 0 auto;

    @include vp-1023 {
      gap: 30px;
      margin: 0;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 12px;
      max-width: 335px;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__nav-list {
    width: 320px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-1023 {
      width: 220px;
    }

    @include vp-767 {
      max-width: 335px;
      align-items: center;
    }
  }

  &__nav-item:not(:last-child) {
    margin: 0 0 20px 0;

    @include vp-1023 {
      margin-bottom: 19px;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }
  }

  &__nav-link {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__legal {
    max-width: 680px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $color-white-50;

    @include vp-1023 {
      font-size: 10px;
      line-height: 14px;
    }

    @include vp-767 {
      font-size: 10px;
      line-height: 14px;
      text-align: center;
    }
  }
}

.footer__nav-link:hover {
  color: $color-ecru-white;
}

.footer__nav-link:focus-visible {
  color: $color-ecru-white;
  outline: none;
}

.footer-contact {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0 0 30px 0;

  @include vp-1023 {
      gap: 20px;
      padding: 0 0 20px 0;
  }

  &__mail {
      display: block;
      font-size: 14px;
      line-height: 18px;
      color: $color-blue-charcoa;

      @include vp-767 {
          font-size: 12px;
          line-height: 14px;
      }
  }

  &__tel {
      display: block;
      font-size: 14px;
      line-height: 18px;
      color: $color-blue-charcoa;

      @include vp-767 {
          font-size: 12px;
          line-height: 14px;
      }
  }
}

