.header {
  padding: 25px 0 23px;
  border-bottom: 1px solid $color-gainsboro;

  @include vp-1023 {
    padding: 18px 0;

    @include vp-767 {
      padding: 20px 0 16px 20px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__menu {
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    height: 23px;
    margin: 0 72px 0 0;
    padding: 0;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;

    @include vp-1023 {
      right: 12px;
      margin: 0;
      left: auto;
      width: 52px;
      height: 20px;
    }

    &-icon {
      width: 52px;
      height: 20px;

      @include vp-1023 {
        padding-left: 20px;
      }

      @include vp-767 {
        padding: 0;
      }

      &--secondary {
        padding-left: 20px;
        width: 60px;
        height: 32px;

        @include vp-1023 {
          padding-left: 0;
          width: 52px;
          height: 20px;
        }
      }
    }
  }

  &__logo {
    @include vp-1023 {
      width: 105px;
      height: 24px;
    }

    @include vp-767 {
      width: 88px;
      height: 20px;
    }
  }

  &__logo-link {
    color: $color-blue-charcoa;

    @include vp-1023 {
      width: 105px;
      height: 24px;
    }
  }
}