.info-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 120px 0;
  padding: 85px 90px;
  background: $color-very-light-grey url("../../images/banner.jpg") no-repeat;
  background-size: cover;
  border-radius: 0 60px 0 60px;

  @media (min-resolution: 2dppx) { 
    background-image: url(../../images/banner@2x.jpg) no-repeat;
  }

  @include vp-1023 {
    max-width: 728px;
    flex-direction: column;
    gap: 20px;
    padding: 40px 104px;
    margin: 0 0 80px 10px;
    background-image: url(../../images/banner-tablet.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../images/banner-tablet@2x.jpg);
    }
  }

  @include vp-767 {
    max-width: 335px;
    max-height: 276px;
    gap: 15px;
    padding: 40px 15px;
    margin-bottom: 60px;
    background-image: url(../../images/banner-mobile.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../images/banner-mobile@2x.jpg);
    }
  }

  &__title {
    margin: 0 40px 0 0;
    font-size: 44px;
    font-weight: 300;
    line-height: 48px;
    color: $color-white;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 36px;
      line-height: 40px;
      margin: 0;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 26px;
      margin: 0;
    }
  }

  &__inner {
    max-width: 460px;
    margin: 0 0 0 auto;

    @include vp-1023 {
      margin: 0;
    }
  }

  &__text {
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 22px;
    color: $color-white;
    text-align: right;

    @include vp-1023 {
      text-align: center;
      margin: 0 0 20px 0;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__link {
    display: block;
    width: 220px;
    margin: 0 0 0 auto;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 18px;
    color: $color-blue-charcoa;
    text-align: center;
    background-color: $color-ecru-white;
    border-radius: 40px;

    @include vp-1023 {
      margin: 0 auto;
    }

    @include vp-767 {
      padding: 9px 48px;
      max-width: 160px;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.info-banner__link:hover {
  background-color: $color-chrome-white;
}

.info-banner__link:focus-visible {
  background-color: $color-chrome-white;
  outline: none;
}
