.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    flex-direction: column;
    max-width: 728px;
    gap: 15px;
    margin-left: 13px;
    }

  @include vp-767 {
    gap: 10px;
    margin-left: 10px;
  }

  &__item {
    width: calc(50% - 15px);

    @include vp-1023 {
      width: 100%;
    }
  }
}



